################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/DosDungeon/bin/Debug
/DosDungeon/obj/Debug
/DosDungeon/obj/Debug
/DosDungeon/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/DosDungeon/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/DosDungeon/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/DosDungeon/obj/Debug/DosDungeon.pdb
/DosDungeon/obj/Debug/DosDungeon.GameForm.resources
/DosDungeon/obj/Debug/DosDungeon.exe
/DosDungeon/obj/Debug/DosDungeon.csprojResolveAssemblyReference.cache
/DosDungeon/obj/Debug/DosDungeon.csproj.GenerateResource.Cache
/DosDungeon/obj/Debug/DosDungeon.csproj.FileListAbsolute.txt
/DosDungeon/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/DosDungeon/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/DosDungeon/obj/Debug/CoreCompileInputs.cache
/DosDungeon/obj/Debug
/DosDungeonTest/obj/Debug
/DosDungeonTest/bin/Debug
